.upcoming{
    .cameLa{
        background-image: url(./../../resource/cameraLa.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .screenLa{
        background-image: url(./../../resource/screenLa.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .chipLa{
        background-image: url(./../../resource/chipLa.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .chargerLa{
        background-image: url(./../../resource/chargerLa.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .formLa{
        background-image: url(./../../resource/back.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}